<div data-controller="toggle" class="bg-gray-200">
  <%= render "admin_nav" %>
    <div class="flex">
        <%= render "dashboard/sidebar" %>
        <%= render "dashboard/main" %>
    </div>
</div>